@charset "UTF-8";

@font-face {
  font-family: 'FontAwesome';
  src: url('./fonts/fontawesome-webfont.eot?v=4.7.0'), url('./fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('./fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('./fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('./fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('./fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: element-icons;
  src:
    url('./fonts/element-icons.woff') format("woff"),
    url('./fonts/element-icons.ttf') format("truetype") !important;
  font-weight: 400;
  /*font-display: 'auto';*/
  font-style: normal
}

/* IE용 Noto Sans font 적용 */
@font-face {
	font-weight: 100;
	font-style: normal;
	font-family: 'Noto Sans KR';
	src: url('./fonts/NotoSansKR-Thin.woff2') format('woff2'),
		url('./fonts/NotoSansKR-Thin.woff') format('woff'),
		url('./fonts/NotoSansKR-Thin.otf') format('opentype')
}

@font-face {
	font-weight: 300;
	font-style: normal;
	font-family: 'Noto Sans KR';
	src: url('./fonts/NotoSansKR-Light.woff2') format('woff2'),
		url('./fonts/NotoSansKR-Light.woff') format('woff'),
		url('./fonts/NotoSansKR-Light.otf') format('opentype')
}

@font-face {
	font-weight: 400;
	font-style: normal;
	font-family: 'Noto Sans KR';
	src: url('./fonts/NotoSansKR-Regular.woff2') format('woff2'),
		url('./fonts/NotoSansKR-Regular.woff') format('woff'),
		url('./fonts/NotoSansKR-Regular.otf') format('opentype')
}

@font-face {
	font-weight: 500;
	font-style: normal;
	font-family: 'Noto Sans KR';
	src: url('./fonts/NotoSansKR-Medium.woff2') format('woff2'),
		url('./fonts/NotoSansKR-Medium.woff') format('woff'),
		url('./fonts/NotoSansKR-Medium.otf') format('opentype')
}

@font-face {
	font-weight: bold;
	font-style: normal;
	font-family: 'Noto Sans KR';
	src: url('./fonts/NotoSansKR-Bold.woff2') format('woff2'),
		url('./fonts/NotoSansKR-Bold.woff') format('woff'),
		url('./fonts/NotoSansKR-Bold.otf') format('opentype')
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0;
}

/* Reset */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
form,
fieldset,
legend,
input,
label,
button,
textarea,
select,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
textarea,
input,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
}

html {
	overflow-y: scroll;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	/* overflow-y: scroll; */
	background-color: #fff;
	color: #333;
	text-align: left;
	-ms-word-break: break-all;
	font-weight: 300;
	line-height: 1.2;

	*word-break: break-all;
	-webkit-text-size-adjust: none;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
main,
hgroup,
menu,
nav,
section,
summary {
	display: block;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: none;
}

ins {
	text-decoration: none;
}

mark {
	font-weight: bold;
	font-style: italic;
}

del {
	text-decoration: line-through;
}

abbr[title],
dfn[title] {
	border-bottom: 1px dotted #000;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
	empty-cells: show;
}

table td {
	word-break: break-all;
}

ol,
ul,
li {
	list-style: none;
}

img,
fieldset,
iframe {
	border: 0 none;
}

input,
select,
button,
img,
label,
textarea {
	vertical-align: middle;
}

label,
button {
	cursor: pointer;
}

button {
	padding: 0;
	border: none;
	background: none;
}

input[type=tel],
input[type=number],
input[type=password],
input[type=text],
select,
textarea {
	border: 1px solid #dadada;
	color: #9b9b9b;
}

body,
select,
input,
button,
textarea,
button {
	font-size: 16px;
	font-family: Roboto, 'Noto Sans KR', '돋움', Dotum, AppleGothic, sans-serif;
}

legend {
	*width: 0;
}

legend,
hr,
caption {
	overflow: hidden;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
}

legend,
hr {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}

i,
em,
address {
	font-style: normal;
}

a {
	color: #333;
}

a:link,
a:visited,
a:hover {
	text-decoration: none;
}

a[href^=tel] {
	color: inherit;
	text-decoration: none;
}

/* i phon number color reset */
input[type=text],
input[type=tel],
input[type=number],
input[type=password] {
	-webkit-appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

/* input reset */
/* WebKit browsers */
::-webkit-input-placeholder {
	color: #c6c6c6;
}

/* Mozilla Firefox 4 to 18 */
:-moz-placeholder {
	color: #c6c6c6;
	opacity: 1;
}

/* Mozilla Firefox 19+ */
::-moz-placeholder {
	color: #c6c6c6;
	opacity: 1;
}

/* Internet Explorer 10+ */
:-ms-input-placeholder {
	color: #c6c6c6;
}

.hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	width: 1px;
	height: 1px;
	border: none;
}

.underline {
	padding-bottom: 1px !important;
	border-bottom: 1px solid !important;
}

/* font weight */
.fontT {
	font-weight: 100 !important;
}

.fontL {
	font-weight: 300 !important;
}

.fontR {
	font-weight: 400 !important;
}

.fontM {
	font-weight: 500 !important;
}

.fontB {
	font-weight: bold !important;
}

/* text color */
.color01 {
	color: #fff !important;
}

.color02 {
	color: #ef4136 !important;
}

.color03 {
	color: #007eef !important;
}

.color04 {
	color: #0fa5a1 !important;
}

.color05 {
	color: #c6c6c6 !important;
}

.color06 {
	color: #00e0da !important;
}

.color07 {
	color: #333 !important;
}

.text-bg01 {
	background-color: #f4ffc7;
}

.pointer {
	cursor: pointer;
}

.link {
	cursor: pointer;
}

.link:hover {
	text-decoration:underline;
}

/* text align */
.alignL {
	text-align: left !important;
}

.alignC {
	text-align: center !important;
}

.alignR {
	text-align: right !important;
}

.sub-text {
	margin-top: 10px;
}

.is-focus {
	box-shadow: none !important;
}

.ql-align-center {
	text-align: center;
}



.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-family: FontAwesome !important;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
